/*************************** DEFAULTS ********************************/
body{
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 1.5;
	font-family:'Dancing Script', cursive;
	text-align: center;
}

*{
	box-sizing: border-box;
}
img{
	max-width: 100%;                   /* making images responsive */
	height: auto;
}

/*********************************** PAGE1 2 3********************************/
.page1{
	background: url("https://lh3.googleusercontent.com/qKStVFJYxhbACOk_bVVEbdR_cYenumOocCi7n69HL9syokOO8HEoWPclk_cdk4vXAPcK6fCSgwFqoUNB8XnIRomNKQ8arilwA2jK3DIdzj9-ZzSSaexKt2DEdmmqiJN9_pjKSqVYX1o8_q_oHKuirzFy3hQfzE4j2GXVWjy1iFeo8XDIJNJYXEzpUa8mxy7yDmR9Po3yIib23Br2PMVSaubuVSQAdimZsKZnOna3olrlyYWkLkMHVrd72HdLvIkcs1b1Ofpsm3IcaJLHPzozk-lJChrAQ19kpfea-VwAr03x0V2MDQ-MSLPcy9kthfkW8Wjhk4SOEOeb8CzKJTnAD8SSNFQtnOfeEwGdhrHS8lOK_OyfY5JJQSfcWjLTvE4IkMCDI4e8aAYgmn1XVQz7qkotCQ2WZYatbSMPAX04uFcC8m5oN1l827roFGR9vbvcbT9ayDFsrlxHxA6cNYlyWE_zO053S_DGOD42oh2FUScf04qelCyUWHoqEqgbh8PPJ2isZUis9cpyaL-19ufZbSf1S8-AIhZKFhHalJBzTdr2gwcmQkdm1_KOIH9gPl1HrfC9_j_hVKloawiM7fTpZT6rFjx1idDgSwsnr9LkmeRlYl2Kvqb-BqDszL6Smgva8euh0VLSKO_DpTzA48zqDsNhWxygOP_MWhJKMUWm=w1164-h662-no") no-repeat center center;
	width: 100%;
	height: 100vh;
}
.page2,.page3{
	width: 100%;
	min-height: 70vh;
	height: auto;
	background: grey;
	color: white;
	padding: 0% 10%;
	font-size: 1.5rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.page3{
	background: white;
	color:#1d9a47;
}
.page4{
	width: 100%;
	height: 100vh;
	background: #8cca8c;
}

/*************************************************************************************/
/************************************ NAV BAR ****************************************/
/*************************************************************************************/
.nav{
	font-family:'Dancing Script', cursive;
}
a{
	text-decoration: none;
}
.nav ul,.navmobile ul{
	list-style: none;                 /* remove dots of li */
	margin: 0;
	padding: 0;
}
.nav li.navmobile li{
	display: inline-block;            /* to allign nav items horizontally */
}
.nav a,.navmobile a{
	color: white;
}


/***************************************************************************/
.logo h1{
	font-weight: 700;
    text-shadow: 3px 2px 0px #fff;
    line-height: 0.87;
}
/***************************for fixed nav*********************/
.header{
	position: fixed;
	top: 0;
	width: 100%;
}
.page2content,.page3content{
	margin-top: 0px;                                 /*****/
}


/************************** MEDIA QUERIES ************************************/

/************************** MOBILES ******************************************/

@media screen and (max-width: 480px){
/*******************************************************************************/
/*********************** hamburger menu for mobile******************************/
/*******************************************************************************/

	.hideme{                      /* hides the logo after certain scroll*/
		display: none;
	}
	.nav{
		display: none;
	}
	.toggleMenu{
		position: fixed;
		top: 0px;
		left: 0px;
		padding: 15px 20px 15px 15px;
		cursor: pointer;
		background: #648B79;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}

	.sidemenu{
		position: fixed;
		top: 0px;
		width: 240px;
		margin-left: -250px;
		overflow: hidden;
		height: 100vh;
		background: rgba(17,17,17,0.9);  /* for opacity of side bar without affecting anything */
		opacity: 0.9;                    /* to see background image*/

		transition: all 0.3s ease-in-out;
	}

	.cross{
		position: absolute;
		top: 10px;
		right: 10px;

		cursor: pointer;
		opacity: 0.7;

		transition: all 0.3s ease-in-out;
	}
	.cross:hover{
		opacity: 1;
	}
	.mobilelogoinsidebar h1 {
		margin: 0;
	    font-weight: 700;
	    text-shadow: 3px 2px 0px #fff;
	    line-height: 0.87;
	}
	.mobilelogoinsidebar a{
		color: white;
	}
	.mobilelogoinsidebar{
		margin-top: 70px;
	}
	.mobilelogo{
		font-size: 2em;
		margin: 0;
	    font-weight: 700;
	    text-shadow: 3px 2px 0px #fff;
	    line-height: 0.87;
	    margin-top: 20px;
	    transition: all 10s ease-in-out;
	}
	.mobilelogo a{
		color: white;
	}
	.navmobile{
		width: 100vw;
	}
	.signup{
		font-size: 1.6rem;
		width: 200px;
		padding: 3px 0px;
		border: solid 1px white;
		color: white;
		text-align: center;
		margin:30px auto 20px auto;
		transition: all 0.3s ease-in-out;
	}
	.signup:hover{
		background-color: white;
		color: #111;
		transition: all 0.3s ease-in-out;
	}
	.signup a:hover{
		color: black;
	}
	.navmobile .navlistmobile{
		font-size: 1.4rem;
		margin:20px;
		display: block;
		width: 200px;
		margin-left:auto;
		margin-right: auto;
	}
	.navlistmobile li{
		padding: 12px 0px;
		margin-left: 10px;
		margin-right: 10px;
		color: #D8D8D8;
		border-bottom:solid 1px #D8D8D8;
		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}

	.showmenu{
		margin-left: 0px;
	}

	.changeopacity{
		opacity: 0;
	}

}
/*************************mobile ham ends *******************************/
/***************************************************************************/


/******************************** TABLETS *******************************/

@media screen and (min-width: 481px) and (max-width: 768px){
	.navmobile{
		display: none;
	}
	.hideme{                      /* hides the logo after certain scroll*/
		display: none;
	}

	.page2content,.page3content{
		margin-top: 60px;          /* set margin top equal to header ka height*/
	}

	.navlist li{
		font-size: 1.13rem;
	}
	.iamselected{                           /* add this class to whichever li to focus*/
		border-bottom: 1.5px solid white;          /* adds underline to li*/
		margin-bottom: -12px;
		padding-bottom: 10.5px;
	}
	.logo{
		transition: all 0.3s ease-in-out;
		padding-bottom: 4%;
	}
	.navwrapper{
		transition: all 0.3s ease-in-out;
		padding-top:3rem;
	    padding-right: 1rem;
	    padding-bottom: 0.7rem;
	    padding-left: 1rem;
	}
	                          /******** for trans to black scrolling of nav ******/
	.navwrapper{
		background: transparent;
		padding-top:1rem;
		transition: all 0.3s ease-in-out;
	}

	.notonhomepage{             /* add this class when you want to shift to black nav*/
		background: rgba(0, 0, 0, 0.7);
		border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
		padding-top: 1.3rem;
	}

	.navlist li a{
		padding: 20%;
	}
	.navlist{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	.navlist li{
		flex-grow: 1;
	}

}

/******************************** DESKTOPS ******************************/
@media screen and (min-width:769px ){

	.navmobile{
		display: none;
	}

	.page2content,.page3content{
		margin-top: 62px;          /* set margin top equal to header ka height*/
	}


	.navwrapper{
		transition: all 0.3s ease-in-out;
		padding-top: 3.5rem;
    	padding-right: 1rem;
    	padding-bottom: 0.7rem;
    	padding-left: 1rem;
	}                                  /***** scrolling trans to black***********/
	.navwrapper{
		background: transparent;
		transition: all 0.3s ease-in-out;
	}

	.notonhomepage{             /* add this class when you want to shift to black nav*/
		background: rgba(0, 0, 0, 0.7);
		border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
		padding-top: 1.2rem;
	}


	.nav{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.logo{
		transition: all 0.3s ease-in-out;
		flex-basis: 20%;
	}	
	.navlist{
		flex-basis: 55%;
	}
	.navlist li{
		font-size: 1.3rem;
	}
	.navlist li a{
		padding: 20%;
	}
	.navlist{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.navlist li{
		flex-grow: 1;
	}
	.iamselected{                          /* add this class to whichever li to focus*/
								           /* adds underline to li*/
		border-bottom: 3px solid white;
		margin-bottom: -12px;
		padding-bottom: 9px;
	}
}
